In [1]:
print("SOLVED EXAMPLE:")
print("Find the maximum and minimum values in a list")
numbers = [23, 45, 12, 67, 34, 89, 56]
max_val = max(numbers)
min_val = min(numbers)
print(f"List: {numbers}")
print(f"Maximum: {max_val}")
print(f"Minimum: {min_val}")
print("-" * 50)

SOLVED EXAMPLE:
Find the maximum and minimum values in a list
List: [23, 45, 12, 67, 34, 89, 56]
Maximum: 89
Minimum: 12
--------------------------------------------------

In [2]:
print("Question 1: Create a list of first 10 square numbers")
squares = []
for i in range(1, 11):
    squares.append(i * i)
print(squares)

Question 1: Create a list of first 10 square numbers
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [4]:
print("\nQuestion 2: Find the sum of all even numbers in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]")
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_sum = 0
for num in numbers:
    if num % 2 == 0:
        even_sum += num
print(f"even sum: {even_sum}")

Question 2: Find the sum of all even numbers in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even sum: 30

In [5]:
print("\nQuestion 3: Remove duplicates from [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]")
list_with_dupes = [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
no_dupes = []
for num in list_with_dupes:
    if num not in no_dupes:
        no_dupes.append(num)
print(no_dupes)

Question 3: Remove duplicates from [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
[1, 2, 3, 4, 5, 6, 7]

In [7]:
print("\nQuestion 4: Sort the list [64, 34, 25, 12, 22, 11, 90] in descending order")
nums = [64, 34, 25, 12, 22, 11, 90]
nums.sort(reverse=True)
print(nums)

Question 4: Sort the list [64, 34, 25, 12, 22, 11, 90] in descending order
[90, 64, 34, 25, 22, 12, 11]

In [8]:
print("\nQuestion 5: Find the average of numbers in [15, 23, 31, 42, 56, 78, 91]")
data = [15, 23, 31, 42, 56, 78, 91]
total = 0
for num in data:
    total += num
average = total / len(data)
print(average)

Question 5: Find the average of numbers in [15, 23, 31, 42, 56, 78, 91]
48.0

In [9]:
print("\nQuestion 6: Create a list of first 15 Fibonacci numbers")
fibonacci = [0, 1]
while len(fibonacci) < 15:
    next_num = fibonacci[-1] + fibonacci[-2]
    fibonacci.append(next_num)
print(fibonacci)

Question 6: Create a list of first 15 Fibonacci numbers
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

In [11]:
print("\nQuestion 7: Find the second largest number in [45, 67, 23, 89, 12, 34, 78]")
nums = [45, 67, 23, 89, 12, 34, 78]
nums.sort(reverse=True)
print(nums)
second_largest = nums[1]
print(second_largest)

Question 7: Find the second largest number in [45, 67, 23, 89, 12, 34, 78]
[89, 78, 67, 45, 34, 23, 12]
78

In [12]:
print("\nQuestion 8: Reverse the list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]")
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums.reverse()
print(nums)

Question 8: Reverse the list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [13]:
print("\nQuestion 9: Count how many times 5 appears in [1, 5, 2, 5, 3, 5, 4, 5, 6]")
nums = [1, 5, 2, 5, 3, 5, 4, 5, 6]
count_5 = 0
for num in nums:
    if num == 5:
        count_5 += 1
print(count_5)

Question 9: Count how many times 5 appears in [1, 5, 2, 5, 3, 5, 4, 5, 6]
4

In [14]:
print("\nQuestion 10: Create a list of prime numbers between 1 and 50")
primes = []
for num in range(2, 51):
    is_prime = True
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        primes.append(num)
print(primes)

Question 10: Create a list of prime numbers between 1 and 50
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [15]:
# Question 11: Flatten nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
nested = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flat = []
for sublist in nested:
    print(f"sublist : {sublist}")
    for item in sublist:
        flat.append(item)
print(flat)

sublist : [1, 2, 3]
sublist : [4, 5, 6]
sublist : [7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
# Question 12: Find common elements between [1, 2, 3, 4, 5] and [4, 5, 6, 7, 8]
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
common = []
for item in list1:
    if item in list2:
        common.append(item)
print(common)

[4, 5]

In [17]:
# Question 13: Create a list of lists: [[1, 2], [3, 4], [5, 6]]
list_of_lists = [[1, 2], [3, 4], [5, 6]]
print(list_of_lists)

[[1, 2], [3, 4], [5, 6]]

In [18]:
# Question 14: Find the sum of each sublist in [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
nested = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
sums = []
for sublist in nested:
    sums.append(sum(sublist))
print(sums)

[6, 15, 24]

In [22]:
# Question 15: Transpose the matrix [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
transpose = []
for i in range(len(matrix[0])):
    new_row = []
    for row in matrix:
        new_row.append(row[i])
    transpose.append(new_row)
print(transpose)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [23]:
# Question 16: Find the maximum value in each sublist of [[1, 5, 3], [9, 2, 7], [4, 8, 6]]
nested = [[1, 5, 3], [9, 2, 7], [4, 8, 6]]
max_values = []
for sublist in nested:
    max_values.append(max(sublist))
print(max_values)

[5, 9, 8]

In [24]:
# Question 17: Create a 3D list: [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
three_d_list = [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
print(three_d_list)

[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]

In [25]:
# Question 18: Find the sum of all elements in 3D list [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
three_d = [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
total_sum = 0
for two_d in three_d:
    for one_d in two_d:
        for num in one_d:
            total_sum += num
print(total_sum)

36

In [26]:
# Question 19: Extract all even numbers from nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
nested = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
evens = []
for sublist in nested:
    for num in sublist:
        if num % 2 == 0:
            evens.append(num)
print(evens)

[2, 4, 6, 8]

In [27]:
# Question 20: Create a list of mixed data types: [1, "hello", 3.14, True, [1, 2, 3]]
mixed = [1, "hello", 3.14, True, [1, 2, 3]]
print(mixed)

[1, 'hello', 3.14, True, [1, 2, 3]]

In [28]:
# Question 21: Find the length of each string in ["apple", "banana", "cherry", "date"]
print("\nQuestion 21: Find the length of each string in ['apple', 'banana', 'cherry', 'date']")
words = ["apple", "banana", "cherry", "date"]
lengths = [len(word) for word in words]
print(lengths)

Question 21: Find the length of each string in ['apple', 'banana', 'cherry', 'date']
[5, 6, 6, 4]

In [29]:
# Question 22: Create a list of tuples: [(1, 'a'), (2, 'b'), (3, 'c')]
print("\nQuestion 22: Create a list of tuples: [(1, 'a'), (2, 'b'), (3, 'c')]")
tuples_list = [(1, 'a'), (2, 'b'), (3, 'c')]
print(tuples_list)

Question 22: Create a list of tuples: [(1, 'a'), (2, 'b'), (3, 'c')]
[(1, 'a'), (2, 'b'), (3, 'c')]

In [30]:
print("\nQuestion 23: Extract first element from each tuple in [(1, 'a'), (2, 'b'), (3, 'c')]")
first_elements = [t[0] for t in tuples_list]
print(first_elements)

Question 23: Extract first element from each tuple in [(1, 'a'), (2, 'b'), (3, 'c')]
[1, 2, 3]

In [31]:
print("\nQuestion 24: Create a list of dictionaries: [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]")
people = [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]
print(people)

Question 24: Create a list of dictionaries: [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]
[{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]

In [33]:
print("\nQuestion 25: Extract all 'name' values from list of dictionaries")

for person in people:
    print(person['name'])

Question 25: Extract all 'name' values from list of dictionaries
Alice
Bob

In [35]:
print("\nQuestion 26: Find the person with maximum age in list of dictionaries")
max_age = 0
for person in people:
    age = person['age']
    if(age > max_age):
        max_age = age

print(max_age)

Question 26: Find the person with maximum age in list of dictionaries
30

In [36]:
print("\nQuestion 27: Create a 4D list: [[[[1, 2], [3, 4]], [[5, 6], [7, 8]]], [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]")
array_4d = [[[[1, 2], [3, 4]], [[5, 6], [7, 8]]], [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]
print(array_4d)

Question 27: Create a 4D list: [[[[1, 2], [3, 4]], [[5, 6], [7, 8]]], [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]
[[[[1, 2], [3, 4]], [[5, 6], [7, 8]]], [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]

In [ ]:
print("\nQuestion 28: Find the maximum value in 4D list")
max_val = 0
for i in array_4d:
    for j in i:
        for k in j:
            for p in k:
                if(p > max_val):
                    max_val = p
print(p)

# import numpy as np

# array_4d_np = np.array(array_4d)
# print(array_4d_np.max())

Question 28: Find the maximum value in 4D list
16

In [42]:
print("\nQuestion 29: Create a list of sets: [{1, 2, 3}, {4, 5, 6}, {7, 8, 9}]")
list_of_sets = [{1, 2, 3}, {4, 5, 6}, {7, 8, 9}]
print(list_of_sets)

Question 29: Create a list of sets: [{1, 2, 3}, {4, 5, 6}, {7, 8, 9}]
[{1, 2, 3}, {4, 5, 6}, {8, 9, 7}]

In [43]:
print("\nQuestion 30: Find the union of all sets in list of sets")
union_set = set()
for s in list_of_sets:
    union_set |= s
print(union_set)

Question 30: Find the union of all sets in list of sets
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [2]:
print("\nQuestion 31: Create a list of complex numbers: [1+2j, 3+4j, 5+6j]")
complex_list = [1+2j, 3+4j, 5+6j]
print(complex_list)

Question 31: Create a list of complex numbers: [1+2j, 3+4j, 5+6j]
[(1+2j), (3+4j), (5+6j)]

In [3]:
print("\nQuestion 32: Find the magnitude of each complex number in list")

# magnitude means absolute value -> ex. for 3 + 4j => sqrt(3^2 + 4 ^2)

# list comprehension syntax 
# always creates a new list containing the results
magnitude = [abs(c) for c in complex_list]
print(magnitude)

Question 32: Find the magnitude of each complex number in list
[2.23606797749979, 5.0, 7.810249675906654]

In [4]:
print("\nQuestion 33: Create a nested list with different levels: [1, [2, 3], [4, [5, 6]], 7]")
nested_list = [1, [2, 3], [4, [5, 6]], 7]
print(nested_list)

Question 33: Create a nested list with different levels: [1, [2, 3], [4, [5, 6]], 7]
[1, [2, 3], [4, [5, 6]], 7]

In [10]:
print("\nQuestion 34: Count the depth of nesting in [1, [2, 3], [4, [5, 6]], 7]")

def count_depth(x):
    if not isinstance(x, list):
        return 0
    max_child = 0
    for item in x:
        d = count_depth(item)
        if d > max_child:
            max_child = d
    return 1 + max_child
print(count_depth(nested_list))

Question 34: Count the depth of nesting in [1, [2, 3], [4, [5, 6]], 7]
3

In [ ]:
print("\nQuestion 35: Create a list of functions: [len, str, int, float]")
func_list = [len, str, int, float]  
print(func_list)

Question 35: Create a list of functions: [len, str, int, float]
[<built-in function len>, <class 'str'>, <class 'int'>, <class 'float'>]

In [12]:
print("\nQuestion 36: Apply each function in list to string '123'")

input_string = '123'
result_output = []
for f in func_list:
    result_output.append(f(input_string))
print(result_output)

Question 36: Apply each function in list to string '123'
[3, '123', 123, 123.0]

In [13]:
print("\nQuestion 37: Create a list of lambda functions: [lambda x: x*2, lambda x: x**2, lambda x: x+1]")
lambda_list = [
    lambda x: x * 2,
    lambda x: x ** 2,
    lambda x: x + 1
]
print(lambda_list)

Question 37: Create a list of lambda functions: [lambda x: x*2, lambda x: x**2, lambda x: x+1]
[<function <lambda> at 0x0000027A09150A40>, <function <lambda> at 0x0000027A09150AE0>, <function <lambda> at 0x0000027A09150B80>]

In [14]:
print("\nQuestion 38: Apply each lambda function to 5")
outputs_for_38 = []
for fn in lambda_list:
    outputs_for_38.append(fn(5))
print(outputs_for_38)

Question 38: Apply each lambda function to 5
[10, 25, 6]

In [15]:
print("\nQuestion 39: Create a list of classes: [list, dict, set, tuple]")
class_list = [list, dict, set, tuple]
print(class_list)

Question 39: Create a list of classes: [list, dict, set, tuple]
[<class 'list'>, <class 'dict'>, <class 'set'>, <class 'tuple'>]

In [16]:
print("\nQuestion 40: Create instances of each class in list")
instances = []
for cls in class_list:
    instances.append(cls())
print(instances)

Question 40: Create instances of each class in list
[[], {}, set(), ()]

In [17]:
print("\nQuestion 41: Create a list of None values: [None, None, None, None]")
none_list = [None, None, None, None]
print(none_list)

Question 41: Create a list of None values: [None, None, None, None]
[None, None, None, None]

In [19]:
print("\nQuestion 42: Replace all None values with 0 in list")

replaced = []
for none_obj in none_list:
    if none_obj is None:
        replaced.append(0)
    else:
        replaced.append[none_obj]
none_list = replaced
print(none_list)

Question 42: Replace all None values with 0 in list
[0, 0, 0, 0]

In [20]:
print("\nQuestion 43: Create a list of boolean values: [True, False, True, False]")
bool_list = [True, False, True, False]
print(bool_list)

Question 43: Create a list of boolean values: [True, False, True, False]
[True, False, True, False]

In [21]:
print("\nQuestion 44: Count True values in boolean list")

true_count = 0
for i in bool_list:
    if i is True:
        true_count += 1

print(true_count)

Question 44: Count True values in boolean list
2

In [28]:
print("\nQuestion 45: Create a list of ranges: [range(3), range(5), range(2)]")
del range
range_list = [range(3), range(5), range(2)]
print(range_list)

Question 45: Create a list of ranges: [range(3), range(5), range(2)]
[range(0, 3), range(0, 5), range(0, 2)]

In [29]:
print("\nQuestion 46: Convert each range to list")

for r in range_list:
    print(list(r))

Question 46: Convert each range to list
[0, 1, 2]
[0, 1, 2, 3, 4]
[0, 1]

In [31]:
print("\nQuestion 46: Convert each range to list")
ranges = [range(3), range(5)]
lists_from_ranges = [list(r) for r in ranges]
print(lists_from_ranges)

Question 46: Convert each range to list
[[0, 1, 2], [0, 1, 2, 3, 4]]

In [32]:
print("\nQuestion 47: Create a list of generators: [(x for x in range(3)), (x for x in range(5))]")
generators = [(x for x in range(3)), (x for x in range(5))]
print(generators)

Question 47: Create a list of generators: [(x for x in range(3)), (x for x in range(5))]
[<generator object <genexpr> at 0x0000027A091D0DC0>, <generator object <genexpr> at 0x0000027A091D0880>]

In [33]:
print("\nQuestion 48: Convert each generator to list")
lists_from_generators = [list(g) for g in generators]
print(lists_from_generators)

Question 48: Convert each generator to list
[[0, 1, 2], [0, 1, 2, 3, 4]]

In [34]:
print("\nQuestion 49: Create a list of iterators: [iter([1, 2, 3]), iter([4, 5, 6])]")
iterators = [iter([1, 2, 3]), iter([4, 5, 6])]
print(iterators)

Question 49: Create a list of iterators: [iter([1, 2, 3]), iter([4, 5, 6])]
[<list_iterator object at 0x0000027A08CA9360>, <list_iterator object at 0x0000027A08CB19F0>]

In [35]:
print("\nQuestion 50: Extract all elements from each iterator")
lists_from_iterators = [list(it) for it in iterators]
print(lists_from_iterators)

Question 50: Extract all elements from each iterator
[[1, 2, 3], [4, 5, 6]]