In [1]:
print("SOLVED EXAMPLE:")
print("Find the maximum and minimum values in a list")
numbers = [23, 45, 12, 67, 34, 89, 56]
max_val = max(numbers)
min_val = min(numbers)
print(f"List: {numbers}")
print(f"Maximum: {max_val}")
print(f"Minimum: {min_val}")
print("-" * 50)

SOLVED EXAMPLE:
Find the maximum and minimum values in a list
List: [23, 45, 12, 67, 34, 89, 56]
Maximum: 89
Minimum: 12
--------------------------------------------------

In [2]:
print("Question 1: Create a list of first 10 square numbers")
squares = []
for i in range(1, 11):
    squares.append(i * i)
print(squares)

Question 1: Create a list of first 10 square numbers
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [4]:
print("\nQuestion 2: Find the sum of all even numbers in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]")
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_sum = 0
for num in numbers:
    if num % 2 == 0:
        even_sum += num
print(f"even sum: {even_sum}")

Question 2: Find the sum of all even numbers in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even sum: 30

In [5]:
print("\nQuestion 3: Remove duplicates from [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]")
list_with_dupes = [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
no_dupes = []
for num in list_with_dupes:
    if num not in no_dupes:
        no_dupes.append(num)
print(no_dupes)

Question 3: Remove duplicates from [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
[1, 2, 3, 4, 5, 6, 7]

In [7]:
print("\nQuestion 4: Sort the list [64, 34, 25, 12, 22, 11, 90] in descending order")
nums = [64, 34, 25, 12, 22, 11, 90]
nums.sort(reverse=True)
print(nums)

Question 4: Sort the list [64, 34, 25, 12, 22, 11, 90] in descending order
[90, 64, 34, 25, 22, 12, 11]

In [8]:
print("\nQuestion 5: Find the average of numbers in [15, 23, 31, 42, 56, 78, 91]")
data = [15, 23, 31, 42, 56, 78, 91]
total = 0
for num in data:
    total += num
average = total / len(data)
print(average)

Question 5: Find the average of numbers in [15, 23, 31, 42, 56, 78, 91]
48.0

In [9]:
print("\nQuestion 6: Create a list of first 15 Fibonacci numbers")
fibonacci = [0, 1]
while len(fibonacci) < 15:
    next_num = fibonacci[-1] + fibonacci[-2]
    fibonacci.append(next_num)
print(fibonacci)

Question 6: Create a list of first 15 Fibonacci numbers
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

In [11]:
print("\nQuestion 7: Find the second largest number in [45, 67, 23, 89, 12, 34, 78]")
nums = [45, 67, 23, 89, 12, 34, 78]
nums.sort(reverse=True)
print(nums)
second_largest = nums[1]
print(second_largest)

Question 7: Find the second largest number in [45, 67, 23, 89, 12, 34, 78]
[89, 78, 67, 45, 34, 23, 12]
78

In [12]:
print("\nQuestion 8: Reverse the list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]")
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums.reverse()
print(nums)

Question 8: Reverse the list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [13]:
print("\nQuestion 9: Count how many times 5 appears in [1, 5, 2, 5, 3, 5, 4, 5, 6]")
nums = [1, 5, 2, 5, 3, 5, 4, 5, 6]
count_5 = 0
for num in nums:
    if num == 5:
        count_5 += 1
print(count_5)

Question 9: Count how many times 5 appears in [1, 5, 2, 5, 3, 5, 4, 5, 6]
4

In [14]:
print("\nQuestion 10: Create a list of prime numbers between 1 and 50")
primes = []
for num in range(2, 51):
    is_prime = True
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        primes.append(num)
print(primes)

Question 10: Create a list of prime numbers between 1 and 50
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [15]:
# Question 11: Flatten nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
nested = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flat = []
for sublist in nested:
    print(f"sublist : {sublist}")
    for item in sublist:
        flat.append(item)
print(flat)

sublist : [1, 2, 3]
sublist : [4, 5, 6]
sublist : [7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
# Question 12: Find common elements between [1, 2, 3, 4, 5] and [4, 5, 6, 7, 8]
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
common = []
for item in list1:
    if item in list2:
        common.append(item)
print(common)

[4, 5]

In [17]:
# Question 13: Create a list of lists: [[1, 2], [3, 4], [5, 6]]
list_of_lists = [[1, 2], [3, 4], [5, 6]]
print(list_of_lists)

[[1, 2], [3, 4], [5, 6]]

In [18]:
# Question 14: Find the sum of each sublist in [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
nested = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
sums = []
for sublist in nested:
    sums.append(sum(sublist))
print(sums)

[6, 15, 24]

In [22]:
# Question 15: Transpose the matrix [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
transpose = []
for i in range(len(matrix[0])):
    new_row = []
    for row in matrix:
        new_row.append(row[i])
    transpose.append(new_row)
print(transpose)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [23]:
# Question 16: Find the maximum value in each sublist of [[1, 5, 3], [9, 2, 7], [4, 8, 6]]
nested = [[1, 5, 3], [9, 2, 7], [4, 8, 6]]
max_values = []
for sublist in nested:
    max_values.append(max(sublist))
print(max_values)

[5, 9, 8]

In [24]:
# Question 17: Create a 3D list: [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
three_d_list = [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
print(three_d_list)

[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]

In [25]:
# Question 18: Find the sum of all elements in 3D list [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
three_d = [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
total_sum = 0
for two_d in three_d:
    for one_d in two_d:
        for num in one_d:
            total_sum += num
print(total_sum)

36

In [26]:
# Question 19: Extract all even numbers from nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
nested = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
evens = []
for sublist in nested:
    for num in sublist:
        if num % 2 == 0:
            evens.append(num)
print(evens)

[2, 4, 6, 8]

In [27]:
# Question 20: Create a list of mixed data types: [1, "hello", 3.14, True, [1, 2, 3]]
mixed = [1, "hello", 3.14, True, [1, 2, 3]]
print(mixed)

[1, 'hello', 3.14, True, [1, 2, 3]]

In [28]:
# Question 21: Find the length of each string in ["apple", "banana", "cherry", "date"]
print("\nQuestion 21: Find the length of each string in ['apple', 'banana', 'cherry', 'date']")
words = ["apple", "banana", "cherry", "date"]
lengths = [len(word) for word in words]
print(lengths)

Question 21: Find the length of each string in ['apple', 'banana', 'cherry', 'date']
[5, 6, 6, 4]

In [29]:
# Question 22: Create a list of tuples: [(1, 'a'), (2, 'b'), (3, 'c')]
print("\nQuestion 22: Create a list of tuples: [(1, 'a'), (2, 'b'), (3, 'c')]")
tuples_list = [(1, 'a'), (2, 'b'), (3, 'c')]
print(tuples_list)

Question 22: Create a list of tuples: [(1, 'a'), (2, 'b'), (3, 'c')]
[(1, 'a'), (2, 'b'), (3, 'c')]